@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    height: 100%;
    font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
    color: #333;
    font-size: 14px;
    line-height: 20px;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: 'Open Sans';
}

h2 {
    font-size: 45px;

}
/* bg-1 */
.bg-1 {
padding-bottom: 200px;
padding-left: 30px;
background-color: #5d4a79;
color: white;
}

.bg-1 h2, p {
    margin-left: 30px;
}

.bg-1 button {
 background-color: yellow;
 color: #5d4a79;
 font-weight: bold;
 border: none;
 padding: 10px 10px;
 margin-top: 20px;
 margin-left: 30px;
}

.bg-1 img {
    height: 100px;
    width: 80px;
    padding-top: 30px;
    margin-left: 30px;
    margin-bottom: 200px;
}

/* bg-2 */
.bg-2 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #5d4a79;
    opacity: 0.8;
}

.bg-2 img {
    height: 100px;
    width: 150px;
    text-align: center;
}

.Entrepreneur {
    margin-left: 300px;
}

/*bg-3*/
.bg-3 {
    padding-top: 30px;
    padding-bottom: 50px;
    background-color:  #f5f5f5;
    text-align: center;
}

.bg-3 h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 100px;
    padding-bottom: 20px;
}


.bg-3 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 250px;
}

.bg-3 li {
    border: 1px solid black;
    width: 300px;
    height: 300px;
    background-color: white;
    margin-right: 15px;
    text-align: center;
    box-shadow: 3px 3px 2px #666666;
}

.bg-3 li h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.bg-3 li img {
    margin-top: 20px;
    margin-bottom: 20px;
}



.bg-3 img {
    height: 100px;
    width: 100px;
}
/* bg-4*/
.bg-4 {
    padding-top: 150px;
    padding-bottom: 75px;
    text-align: center;
}

.bg-4 img {
    height: 250px;
    float: left;
}

/* bg-5*/
.bg-5 {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

.bg-5 img {
    height: 250px;
    float: right;
}

.list {
    font-weight: bold;
    color: grey;
}

/* bg-6*/
.bg-6 {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
}

.bg-6 img {
    height: 250px;
    float: left;
}

/* bg-7*/
.bg-7 {
    padding-top: 75px;
    padding-bottom: 75px;
    text-align: center;
    margin-bottom: 150px;
}

.bg-7 img {
    height: 100px;
    margin-left: 60px;
    margin-bottom: 20px;
}

/* bg-8*/
.bg-8 {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:  #f5f5f5;

}

.bg-8 img {
    height: 30px;
    margin-left: 450px;

}

/* bg-9*/
.bg-9 {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #5d4a79;
}

.bg-9 .col-6 img {
  margin-top: 70px;
  margin-left: 100px;
}

.started {
     margin-left: 30px;
    color: white;
}

.hiring {
    margin-left: 30px;
    color:  #ffce00;
}
.bg-9 img {
    height: 70px;
    margin-left: 70px;
}

.bottalk {
    position: relative;
    background-color: white;
    height: 120px;
    width: 200px;
    margin-top: 10px;
    margin-left: -80px; 
    border-radius: 1.5em;
}

.bottalk p {
    padding-top: 5px;
    padding-left: 15px;
}

.bot .bottalkwhite {
    height: 40px;
    position:  absolute;
    top: 40%;
    left: -160px;
}

.bottalk button {
    background-color: #ffce00;
    color: #5d4a79;
    padding: 5px 5px;
    border: none;
    margin-left: 50px;
    margin-top: -30px;
    box-shadow: 3px 3px 2px #666666;
}

.twylabot .twylabotimg {
    height: 150px;
    margin-top: 120px;
    
}

.bg-9 ul {
    list-style: none;
     margin-left: 30px;
}

footer {
    background-color: #7a5486;
    color: white;
    font-size: 12px;
}

footer ul {
    list-style: none;
}

footer .col {
    margin-top: 30px;
}
.footer-bottom img {
    height: 25px;
    vertical-align: middle;
    display: inline- block;
}

.social {
    display: flex;
    flex-direction: row;
    float: right;
}

.social li {
    height: 30px;
    width: 30px;
    padding-top: 7px;
    padding-left: 7px;
    text-align: center;
    padding-right: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    background-color: white;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.signup input {
    border: 1px solid white;
    background-color: #7a5486;
    padding: 10px 10px;
    vertical-align: middle;
    display: inline-block;
    float: left;
    width: 180px;
    color: white;
}

.signup input::placeholder {
  color: white;
}

.signup button {
    border-radius: 3px;
    display: inline-block;
    background-color: #5d4a79;
    margin-left: 5px;
    float: left;
    color: white;
}

/* Animation */
.animateBlock {
   display: inline-block;
   position: relative;
   -webkit-transition: all .55s ease-in;
   -moz-transition: all .55s ease-in; 
   -ms-transition: all .55s ease-in;
   -o-transition: all .55s ease-in;
   transition: all .55s ease-in;;
}

.animateBlock.left {
    left: -30%;
}

.left.animated {
    left: 0%;
}

.animateBlock.right {
    right: -30%;
}

.right.animated {
    right: 0%;
}